<nav>
    <div class="site-title">
        <a href="/">
            <h1>Blog Web</h1>
            <p>Chintan's blog-world</p>
        </a>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/create">New Blogs</a></li>
    </ul>
</nav>